<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/usuarios.css">
  <title>MOTORS SIMULATOR</title>
</head>

<body>
  <div class="top-container">
    <div class="logo-container">
      <a href="/segmentos">
        <img src="/images/tvlar_motors.png" alt="TVLAR MOTORS" class="logo">
      </a>
    </div>

    <div class="filial-container">
      <div class="user-menu">
        <button id="user-button">
          <%= usuario %>
        </button>
        <div id="user-dropdown" class="dropdown-content">
          <a href="/segmentos">Voltar</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="form-container">
    <h2>Adicionar Novo Usuário</h2>
    <form action="/usuarios/adicionar" method="POST">
      <label for="grupo">Grupo:</label>
      <select id="grupo" name="grupo" required>
        <option value="user">User</option>
        <option value="sup">Supervisor</option>
        <option value="admin">Admin</option>
      </select>

      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" maxlength="100" required>

      <label for="id_microwork">ID Microwork:</label>
      <input type="text" id="id_microwork" name="id_microwork" maxlength="100" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" maxlength="50" required>

      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" maxlength="14" required>

      <button type="submit">Adicionar Usuário</button>
    </form>
  </div>

  <div class="lista-usuarios">
    <h2>Usuários Cadastrados</h2>
    <div class="tabela-scroll">
      <table>
        <thead>
          <tr>
            <th>Grupo</th>
            <th>Nome</th>
            <th>ID</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% usuarios.forEach(user=> { %>
            <tr>
              <td>
                <%= user.grupo %>
              </td>
              <td>
                <%= user.nome %>
              </td>
              <td>
                <%= user.id_microwork %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <form action="/usuarios/atualizar-senha" method="POST" style="display:inline;"
                  onsubmit="return confirm('Tem certeza que deseja atualizar a senha deste usuário?');">
                  <input type="hidden" name="email" value="<%= user.email %>">
                  <input type="password" name="novaSenha" placeholder="Nova senha" required>
                  <button type="submit">Atualizar Senha</button>
                </form>

                <% if (user.grupo!='admin' ) { %>
                  <form action="/usuarios/excluir" method="POST" style="display:inline;"
                    onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
                    <input type="hidden" name="email" value="<%= user.email %>">
                    <button type="submit">Excluir Usuário</button>
                  </form>
                  <% } %>
              </td>
            </tr>
            <% }) %>
        </tbody>

      </table>
    </div>
  </div>
  </div>




  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2025 by Departamento de T.I | All Rights Reserved.</p>

      <span class="animate scroll" style="--i:1;"></span>
    </div>

    <div class="footer-iconTop">
      <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

      <span class="animate scroll" style="--i:3;"></span>
    </div>
  </footer>

  <script>
    document.getElementById("user-button").addEventListener("click", function () {
      document.getElementById("user-dropdown").classList.toggle("show");
    });

    window.onclick = function (event) {
      if (!event.target.matches('#user-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          if (dropdowns[i].classList.contains('show')) {
            dropdowns[i].classList.remove('show');
          }
        }
      }
    };
  </script>

</body>

</html>